[Unit]
Description=ImageServer
After=network.target
nano
[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/opt/ImageServer
ExecStart=/opt/ImageServer/ImageServer
PrivateTmp=false

[Install]
WantedBy=multi-user.target
