[Unit]
Description=ImageServer
After=network.target
nano
[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/ImageServer
ExecStart=/opt/ImageServer/ImageServer

[Install]
WantedBy=multi-user.target
